.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.lista-menu__link {
    margin-right: 2rem;
    text-decoration: none;
    color: var(--cinza_claro);
}

.botao__menu {
    text-decoration: none;
    padding: 0.8rem 1rem;
    color:var(--cinza_claro);
    font-weight: 500;
}

.botao__menu-botao {
    color: #FFFFFF;
    background: var(--vermelho);
    border: 1px solid var(--vermelho);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 0.5rem;
    border: none;
}

.botao__menu:hover {
    background-color: #441919;
}